<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <img [src] = 'myImage' alt="my profile" style="height: 35px; width: 35px;">
      </div>
      <a class="navbar-brand text-muted" href="#">Gerald Waweru</a>
      <ul class="navbar-nav humbeger">
        <span style="font-size:30px;cursor:pointer" (click)="opened = !opened">&#9776;</span>
      </ul>
    </div>
  </nav>
  <mat-sidenav-container>
    <mat-sidenav [(opened)] = 'opened'>
      <div id="mySidenav" class="sidenav">
        <div class=" text-center sideContainer">
            <img [src] = 'myImage' alt="my profile pic" style="height: 100px; width: 100px;"><br><br>
            <h4>Gerald Waweru</h4>
            <p style="color: rgb(170, 168, 168);">Full Stack Developer</p>
            <ul id="navLinks">
                <li><a href="landingpage.html">Gerald</a></li>
                <li><a href="/about-me">About me</a></li>
                <li><a href="/resume">Resume</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
         </div>
         <ul class="socialIcons text-center">
            <a href=""><li><i class="fa fa-instagram"></i></li></a>
            <a href=""><li><i class="fa fa-linkedin"></i></li></a>
            <a href=""><li><i class="fa fa-twitter"></i></li></a>
            <a href=""><li><i class="fa fa-facebook"></i></li></a>
            <a href=""><li><i class="fa fa-github"></i></li></a>
        </ul>
        <br>
        <p class="small text-center text-muted">Made with love, Using <span style="font-weight: bold;color: #123942;">Angular.JS</span></p>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
<div class="wrapper">
    <aside id="mySidenav" class="sidenav">
        <div class=" text-center sideContainer">
            <img [src] = 'myImage' alt="my profile pic" style="height: 100px; width: 100px;"><br><br>
            <h4>Gerald Waweru</h4>
            <p style="color: rgb(170, 168, 168);">Full Stack Developer</p>
            <ul id="navLinks">
                <li><a href="landingpage.html">Gerald</a></li>
                <li><a href="/about-me">About me</a></li>
                <li><a href="/resume">Resume</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
         </div>
         <ul class="socialIcons text-center">
            <a href=""><li><i class="fa fa-instagram"></i></li></a>
            <a href=""><li><i class="fa fa-linkedin"></i></li></a>
            <a href=""><li><i class="fa fa-twitter"></i></li></a>
            <a href=""><li><i class="fa fa-facebook"></i></li></a>
            <a href=""><li><i class="fa fa-github"></i></li></a>
        </ul>
        <br>
        <p class="small text-center text-muted">Made with love, Using <span style="font-weight: bold;color: #123942;">Angular.JS</span></p>
    </aside>

    <div class="bodyArea">
      <div class="aboutHeading">
        <h3 class="small text-muted"><span>Contact</span>Get in touch</h3>
      </div>
      <div class="container containerz">
        <div class="form">
          <h4>Contact Me</h4>
          <form>
            <div class="form-group mb-4">
              <label for="text">Name</label>
              <input type="text" class="form-control" id="text" aria-describedby="name" placeholder="Name">
            </div>
            <div class="form-group mb-4">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Email">
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
            <div class="form-group mb-4">
              <textarea name="body" id="body" class="form-control" placeholder="Message" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary submitForm">Submit</button>
          </form>
        </div>
        <div class="reachMeFor">
          <div class="card text-center">
            <p class="small mb-4 mt-4" style="font-size: 20px;color: #123942;"><span><fa-icon [icon]="faEnvelope"></fa-icon></span>@Email</p>
            <p class="small">geraldmwaweru@gmail.com</p>
            <h5>Business only!</h5>
          </div>

          <div class="card text-center">
            <p class="small mb-4 mt-4" style="font-size: 20px;color: #123942;"><span><fa-icon [icon]="faCheckCircle"></fa-icon></span>Hire me</p>
            <p>Available</p>
            <h5>Freelance Developer</h5>
          </div>
      </div>
    </div>
    </div>
    

    
</div>
</mat-sidenav-content>
  </mat-sidenav-container>