nav {
    height: 60px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: none;
    box-shadow: 0px 1px 8px 0px #888888;
}
p {
    color: #666666;
}
.humbeger {
    align-items: end;
}
.wrapper {
    display: grid;
    grid-template-columns: 21% 78%;
    grid-column-gap: 1%;
}
.testimonBlogs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    background-image: linear-gradient(to bottom right, #97c8d3, #123942);
    color: rgb(255, 255, 255);
    padding: 2px;
    /* background-color: rgba(0, 0, 0, .9);
    justify-content: space-between; */
}
.Testimonials, .Blogs {
    padding: 20px;
}
.Blogs p {
    color: #ffff;
}
.card {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-gap: 1em;
    color: rgb(87, 87, 87);
    background-color: rgba(233, 233, 233, 0.1);
    padding: 5px;
    box-shadow: 0px 1px 8px 0px #2e2e2e;
    border-radius: 20px;
}
.card img {
    /* border: 5px solid #65848b; */
}
.card p {
    color: #fff;
}
.card h5 {
    color: #123942;
}
.upTo {
    padding: 40px;
    background-color: #fdfdfd;
    border-radius: 10px;
    box-shadow: 0px 1px 8px 0px #888888;
}

.wrapper > .bodyArea {
    background: rgb(255, 255, 255);
    padding: 1em;
    z-index: 9;
}
.aboutHeading {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 60px;
    margin-bottom: 50px;
}
.aboutHeading span {
    background-color: #123942;
    margin: 50px 20px 0px -21px;
    padding: 10px 20px 10px 30px;
    font-size: 24px;
    color: #fff;
}
.aboutMe, .testimonBlogs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
}
.servicesOffered{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
}
.tutor {
    background-color: white;
    border: 1px solid #123942;
    color: #123942;
}
.book {
    margin-bottom: 100px;
}
.tutor:hover {
    background-color: #123942;
    color: #fff;
}
fa-icon {
    font-size: 70px;
    margin: auto;
    color: #123942;
}
.quotes {
    font-size: 8px;
    color: #123942;
}

.wrapper > aside {
    background: rgb(255, 255, 255);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    height: 100vh;
}
.sideContainer{
    padding-top: 30px;
}

#navLinks li{
    list-style: none;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 10px;
    margin-left: -12%;
}
#navLinks a{
    text-decoration: none;
    color: rgb(105, 105, 105);
    font-weight: 100;
}
#navLinks li:hover {
    background-color:#e3e3e3;
    border-right: 2px solid #123942;
}
.socialIcons{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1%;
    margin-top: 50px; 
    margin-right: 20px;
}
.socialIcons a{
    margin-right: 10px;
    background-color: #e3e3e3;
    padding: 5px;
    color: rgb(92, 92, 92);
    border-radius: 10px;
    
}
.socialIcons a:hover{
    background-color: #123942;
    color: white;
    }
.socialIcons li{
    display: inline;
}


/* Tic Tac Toe */
/* :root {
    --cell-size: 100px;
} */
.board {
    height: 210px;
    height: 210px;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}
.cell {
    width: 70px;
    height: 70px;
    border: 1px solid rgb(131, 131, 131);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
    border-bottom: none;
}
.cell.x::before,
.cell.x::after {
    background-color: rgb(77, 77, 77);
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    background-color: rgb(226, 226, 226);
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    width: 15%;
    height: 90%; 
}

.cell.x::before, 
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}


.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: rgb(226, 226, 226);
}

.cell.circle::before {
    background-color: rgb(77, 77, 77);
}
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: 90%;
    height: 90%;
}
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: 65%;
    height: 65%;
    background-color: white;
}




@media screen and (max-width: 1120px) {
    .socialIcons a {
        margin-right: 3px;
    }
  }

@media screen and (max-width: 990px) {
    nav {
        display: grid;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        z-index: 99;
        
    }
    .navbar-header {
        margin-right: 10px;
    }
    .navbar-brand {
        font-size: 17px;
    }
    .humbeger {
        position: absolute;
        right: 10px;
    }
    .wrapper {
        grid-column-gap:0px;
        display: grid;
        grid-template-columns: 0% 100%;
        
    }
  }

  @media screen and (max-width: 575px){
    .aboutMe, .servicesOffered, .testimonBlogs {
        grid-template-columns:100%;
        margin-bottom: 20px;
    }

  }