<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" style="font-size: 30px;"><i class="fa fa-github"></i> <span style="margin-left: 5px; font-size: small;">Github Clone</span></a>
      <div class="d-flex">
          <img src="{{data.avatar_url}}" alt="My Github profile picture" style="height: 30px; width: 30px;border-radius: 50%;">
      </div>
    </div>
  </nav>
  <section class="text-center overviewRepos">
    <p class="overview">
        <fa-icon [icon]="faBackspace" style="color: #c3c3c3;margin-right: 5px;"></fa-icon>
        <a href="/github">Back to Github Clone</a>
    </p>
    <p class="repositories">
        <fa-icon [icon]="faFile" style="color: #c3c3c3;"></fa-icon>
        Repositories 
        <span class="ml-2" style="background-color: #123942;padding: 5px;border-radius: 50%;color: #fff;">
            {{data.public_repos}}
        </span
    ></p>
  </section>
<div class="wrapper">
    <aside id="mySidenav" class="sidenav text-center">
        <div class=" text-center sideContainer" style="margin-right: 20px;">
            <img src="{{data.avatar_url}}" alt="My Github profile picture" class="mainAvatar">
            <h4 class="tetxt-muted text-center mt-4"> {{data.login}} </h4>
            <a href="https://github.com/Geerocktricks" class="visitMyGithub-a">
                <div class="visitMyGithub mt-4">
                    Visit My Github page
                </div>
            </a>
            <div class="followersFollowing mt-4">
                <p class="following"><b>{{data.following}} </b> <a href="/following">Following</a></p>
            </div>
         </div>
         <ul class="socialIcons text-center mt-4">
            <a href=""><li><i class="fa fa-instagram"></i></li></a>
            <a href=""><li><i class="fa fa-linkedin"></i></li></a>
            <a href=""><li><i class="fa fa-twitter"></i></li></a>
            <a href=""><li><i class="fa fa-facebook"></i></li></a>
        </ul>
        <br>
        <p class="small text-center text-muted">Made with love, Using <span style="font-weight: bold;color: #123942;">Angular.JS</span></p>
    </aside>

    <div class="bodyArea">
      <div class="repoHeading">
        <h4 class="mb-4 someRepoH4">{{data.followers}} Github Followers</h4>
      </div>
      <!-- Repo card -->
      <div class="reposHere container-fluid">
          <div class="card eachUser" *ngFor= 'let user of users'>
              <div>
                <img src="{{user.avatar_url}}" alt="My Github profile picture" class="userAvatar">
              </div>
              <div>
                  <h4>{{ user.login }}</h4>
              </div>
              <div>
                  <a href="{{ user.html_url }}"><button class="btn">Profile</button></a>
              </div>
          </div>
        
      </div>
    </div>

    
</div>