/* Top nav bar */
.navbar {
    height: 60px;
    padding: 0 20px;
}

/* Second Nav */
.overviewRepos {
    border-bottom: 1px solid rgb(231, 231, 231);
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0px 1px 8px 0px #888888;
}

.overviewRepos .overview{
    justify-self: end;
    align-self: flex-end;
}
.overviewRepos .repositories {
    justify-self: start;
    align-self: flex-end;
}

/* Wrapper */
.wrapper {
    display: grid;
    grid-template-columns: 23% 77%;
    min-height: 100vh;
}
/* Aside */
.wrapper > aside {
    background: rgb(255, 255, 255);
    /* position: -webkit-sticky; Safari */
    /* position: sticky; */
    /* top: 0; */
    height: 100vh;
}
.mainAvatar {
    height: 200px; 
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 10px 8px 0px #474747;
}
.visitMyGithub {
    height: 35px;
    background-color: #123942;
    color: #fff;
    width: 70%;
    margin: auto;
    border-radius: 10px;
    padding: 5px;
    border: none;
}
.visitMyGithub:hover {
    background-color: #fff;
    color: #123942;
    box-shadow: 0px 1px 8px 0px #888888;
}
.visitMyGithub-a {
    text-decoration: none;
}
.followersFollowing {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
}
.followers, .visibility {
    justify-self: end;
    align-self: flex-end;
}
.following {
    justify-self: center;
    align-self: center;
}
aside {
    height: 300px; 
    width: 300px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 10%;
    z-index: 9;
}

.wrapper > .bodyArea {
    background: rgb(255, 255, 255);
    padding: 1em;
    z-index: 9;
    /* height: 100vh; */
    
}

.sideContainer{
    padding-top: 30px;
}
.socialIcons{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: .5%; 
    margin-right: 20px;
}

.socialIcons a{
    margin-right: 10px;
    background-color: #e3e3e3;
    padding: 5px;
    color: rgb(92, 92, 92);
    border-radius: 10px;
    
}
.socialIcons a:hover{
    background-color: #123942;
    color: white;
    }
.socialIcons li{
    display: inline;
}

.reposHere {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}
.reposHere .card {
    padding: 10px;
    box-shadow: 0px 1px 8px 0px #888888;
}

.visibility {
    margin-right: 10px;
    border: 1px solid #bdbdbd;
    padding: 3px;
    border-radius: 10px;
    max-width: 50px;
}


.cardHolder {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1em;
}
.languageDate{
    margin-left: -10px;
}
.languageDate li {
    list-style: none;
    display: inline;
    font-size: small;
    font-weight: 100;
}

.eachUser {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-gap: 1em;
}
.eachUser button {
    border: none;
    background-color: #123942;
    color: #fff;
    
}
.userAvatar {
    height: 70px;
    width: 70px;
    border-radius: 9rem;
}


/* Media Queries */

@media screen and (max-width: 1120px) {
    .socialIcons{
        margin-left: -20px;
    }
    .socialIcons a {
        margin-right: 1%;
        padding: 2px;
    }
    .mainAvatar {
        height: 150px; 
        width: 150px;
    }
  }

@media screen and (max-width: 990px) {
    .d-flex img {
        justify-self: end;
    } 
    aside {
        display: none;
        overflow: hidden;
    }
    .navbar-header {
        margin-right: 10px;
    }
    .navbar-brand {
        font-size: 17px;
    }
    .humbeger {
        position: absolute;
        right: 10px;
    }
    .wrapper {
        grid-column-gap:0px;
        display: grid;
        grid-template-columns: 0% 100%;
        
    }
    .bodyArea {
        position: absolute;
        width: 100%;
    }
  }

  @media screen and (max-width: 575px){
    .aboutBody{
        grid-template-columns:100%;
    }
    .reposHere {
        display: grid;
        grid-template-columns: 1fr;
    }
  }

  @media screen and (max-width: 400px) {
    .eachUser {
        grid-template-columns: 1fr 10fr;
    }
  }