<div class="card carded text-center">
    <img [src] = 'myImage' class="dpHolder">
    <h3 style="font-family: cursive;">Waweru Gerald Muchuki</h3><br>
    <p style="font-family: cursive;">Hey guys, I'm a Full Stack Dev</p>
    <div class=" linkHolder text-center">
        <a href="">
            <div class="card contained">
                <p>GITHUB CLONE</p>
            </div>
        </a>

        <a href="">
            <div class="card contained">
                <p>PORTFOLIO</p>
            </div>
        </a>

        <a href="">
            <div class="card contained">
                <p>BLOG</p>
            </div>
        </a>

        <a href="https://www.linkedin.com/in/gerald-waweru/" target="_blank">
            <div class="card contained">
                <p>LINKEDIN</p>
            </div>
        </a>
    </div>
</div>