@import 'bootstrap/dist/css/bootstrap.css';

body {
    background-color: #eee;
}
p {
    font-family: PT Sans, Helvetica, sans-serif;;
    font-weight: 400;
    font-size: 14px;
}
h3, h4, h5 {
    font-family: 'Times New Roman', Times, serif;
}