<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <img [src] = 'myImage' alt="my profile" style="height: 35px; width: 35px;">
    </div>
    <a class="navbar-brand text-muted" href="#">Gerald Waweru</a>
    <ul class="navbar-nav humbeger">
      <span style="font-size:30px;cursor:pointer" (click)="opened = !opened">&#9776;</span>
    </ul>
  </div>
</nav>

<mat-sidenav-container>
  <mat-sidenav [(opened)] = 'opened'>

    <!-- What was aside before -->
    <div id="mySidenav" class="sidenav">
      <div class=" text-center sideContainer">
          <img [src] = 'myImage' alt="my profile pic" style="height: 100px; width: 100px;"><br><br>
          <h4>Gerald Waweru</h4>
          <p style="color: rgb(170, 168, 168);">Full Stack Developer</p>
          <ul id="navLinks">
              <li><a href="landingpage.html">Gerald</a></li>
              <li><a href="/about-me">About me</a></li>
              <li><a href="/resume">Resume</a></li>
              <li><a href="/portfolio">Portfolio</a></li>
              <li><a href="/contact">Contact</a></li>
          </ul>
       </div>
       <ul class="socialIcons text-center">
          <a href=""><li><i class="fa fa-instagram"></i></li></a>
          <a href=""><li><i class="fa fa-linkedin"></i></li></a>
          <a href=""><li><i class="fa fa-twitter"></i></li></a>
          <a href=""><li><i class="fa fa-facebook"></i></li></a>
          <a href=""><li><i class="fa fa-github"></i></li></a>
      </ul>
      <br>
      <p class="small text-center text-muted">Made with love, Using <span style="font-weight: bold;color: #123942;">Angular.JS</span></p>
    </div>
    <!-- END of what was aside before -->

  </mat-sidenav>
  <mat-sidenav-content>
  <div class="wrapper">
    <aside id="mySidenav" class="sidenav">
      <div class=" text-center sideContainer">
          <img [src] = 'myImage' alt="my profile pic" style="height: 100px; width: 100px;"><br><br>
          <h4>Gerald Waweru</h4>
          <p style="color: rgb(170, 168, 168);">Full Stack Developer</p>
          <ul id="navLinks">
              <li><a href="landingpage.html">Gerald</a></li>
              <li><a href="/about-me">About me</a></li>
              <li><a href="/resume">Resume</a></li>
              <li><a href="/portfolio">Portfolio</a></li>
              <li><a href="/contact">Contact</a></li>
          </ul>
       </div>
       <ul class="socialIcons text-center">
          <a href=""><li><i class="fa fa-instagram"></i></li></a>
          <a href=""><li><i class="fa fa-linkedin"></i></li></a>
          <a href=""><li><i class="fa fa-twitter"></i></li></a>
          <a href=""><li><i class="fa fa-facebook"></i></li></a>
          <a href=""><li><i class="fa fa-github"></i></li></a>
      </ul>
      <br>
      <p class="small text-center text-muted">Made with love, Using <span style="font-weight: bold;color: #123942;">Angular.JS</span></p>
  </aside>

  <div class="bodyArea">
    <div class="aboutHeading">
      <h3 class="small text-muted"><span>Resume</span>2 + years of experience</h3>
    </div>
    <div class="container educationExperience">
      <div>
        <h4>Education</h4>
        <div class="mb-2" style="border-left: 1px solid rgb(230, 230, 230);box-shadow: -3px 0px 5px 0px #888888;border-top: none;">
          <div class="duration ">
            <p class="small text-muted mb-4 mt-4"><span>2018-2020</span></p>
          </div>
          <div class="container">
            <h5>Diploma in Computer Science</h5>
            <p class="small text-muted">Zetech University</p>
            <p>Developed a Web application solution using Java to help churches manage their information and activities online.</p>
            <br>
          </div>
        </div>

        <div class="mb-2" style="border-left: 1px solid rgb(230, 230, 230);box-shadow: -3px 0px 5px 0px #888888;border-top: none;">
          <div class="duration ">
            <p class="small text-muted mb-4 mt-4"><span>2018-2020</span></p>
          </div>
          <div class="container">
            <h5>Diploma in Computer Science</h5>
            <p class="small text-muted">Zetech University</p>
            <p>Developed a Web application solution using Java to help churches manage their information and activities online.</p>
            <br>
          </div>
        </div>

        <div class="mb-2" style="border-left: 1px solid rgb(230, 230, 230);box-shadow: -3px 0px 5px 0px #888888;border-top: none;">
          <div class="duration ">
            <p class="small text-muted mb-4 mt-4"><span>2018-2020</span></p>
          </div>
          <div class="container">
            <h5>Diploma in Computer Science</h5>
            <p class="small text-muted">Zetech University</p>
            <p>Developed a Web application solution using Java to help churches manage their information and activities online.</p>
            <br>
          </div>
        </div>
      </div>
      <div>
        <h4>Experience</h4>
        <div class="mb-2" style="border-left: 1px solid rgb(230, 230, 230);box-shadow: -3px 0px 5px 0px #888888;border-top: none;">
          <div class="duration ">
            <p class="small text-muted mb-4 mt-4"><span>2018-2020</span></p>
          </div>
          <div class="container">
            <h5>Diploma in Computer Science</h5>
            <p class="small text-muted">Zetech University</p>
            <p>Developed a Web application solution using Java to help churches manage their information and activities online.</p>
            <br>
          </div>
        </div>
        <div class="mb-2" style="border-left: 1px solid rgb(230, 230, 230);box-shadow: -3px 0px 5px 0px #888888;border-top: none;">
          <div class="duration ">
            <p class="small text-muted mb-4 mt-4"><span>2018-2020</span></p>
          </div>
          <div class="container">
            <h5>Diploma in Computer Science</h5>
            <p class="small text-muted">Zetech University</p>
            <p>Developed a Web application solution using Java to help churches manage their information and activities online.</p>
            <br>
          </div>
        </div>
        <div class="mb-2" style="border-left: 1px solid rgb(230, 230, 230);box-shadow: -3px 0px 5px 0px #888888;border-top: none;">
          <div class="duration ">
            <p class="small text-muted mb-4 mt-4"><span>2018-2020</span></p>
          </div>
          <div class="container">
            <h5>Diploma in Computer Science</h5>
            <p class="small text-muted">Zetech University</p>
            <p>Developed a Web application solution using Java to help churches manage their information and activities online.</p>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="aboutHeading">
      <h3 class="small text-muted"><span>Skills</span></h3>
    </div>
    <div class="container skills">
      <div class="technicalSkills" style="padding: 10px;">
        <h4 class="mb-4">Technical Skills</h4>
        <p>JavaScript</p>
        <li>
          <h5 class="javascript"><span></span></h5>
        </li>
        <hr>
        <p>Python</p>
        <li>
          <h5 class="python"><span></span></h5>
        </li>
        <hr>
        <p>TypeScript</p>
        <li>
          <h5 class="typescript"><span></span></h5>
        </li>
        <hr>
        <p>AngularJs</p>
        <li>
          <h5 class="angular"><span></span></h5>
        </li>
        <hr>
        <p>NodeJs</p>
        <li>
          <h5 class="node"><span></span></h5>
        </li>
        <hr>
        <p>React</p>
        <li>
          <h5 class="react"><span></span></h5>
        </li>
        <hr>
        <p>Django</p>
        <li>
          <h5 class="django"><span></span></h5>
        </li>
        <hr>
        <p>Flask</p>
        <li>
          <h5 class="flask"><span></span></h5>
        </li>
        <hr>
        <p>Web Design</p>
        <li>
          <h5 class="webdesign"><span></span></h5>
        </li>
        <hr>
      </div>
      <div class="profesionalSkills" style="padding: 10px;">
        <h4 class="mb-4">Professional Skills</h4>
        <div class="container">
          <div class="ui-widget">
            <div class="ui-value">60%</div>
            <span class="ui-label">Communication</span>
          </div>
          <div class="ui-widget">
            <div class="ui-value">90%</div>
            <span class="ui-label">Team Work</span>
          </div>
          <div class="ui-widget">
            <div class="ui-value">70%</div>
            <span class="ui-label">Project Management</span>
          </div>
          <div class="ui-widget">
            <div class="ui-value">80%</div>
            <span class="ui-label">Creativity</span>
          </div>
        </div>
        
      </div>
      <div></div>
    </div>
    <div class="container book mb-4 mt-5">
      <h4 class="mb-4">Check out my LinkedIn page</h4>

      <button class="btn btn-success tutor">View Profile</button>
   </div>
  </div>
  </div>
  </mat-sidenav-content>
</mat-sidenav-container>