/* Top nav bar */
nav {
    height: 60px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: none;
    box-shadow: 0px 1px 8px 0px #888888;
}
.humbeger {
    align-items: end;
}

/* Wrapper */
.wrapper {
    display: grid;
    grid-template-columns: 21% 78%;
    grid-column-gap: 1%;
    min-height: 100vh;
}

.wrapper > aside {
    background: rgb(255, 255, 255);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    height: 100vh;
}

.wrapper > .bodyArea {
    background: rgb(255, 255, 255);
    padding: 1em;
    z-index: 9;
    /* height: 100vh; */
    
}

.sideContainer{
    padding-top: 30px;
}

#navLinks li{
    list-style: none;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 10px;
    margin-left: -12%;
}
#navLinks a{
    text-decoration: none;
    color: rgb(105, 105, 105);
    font-weight: 100;
}
#navLinks li:hover {
    background-color:#e3e3e3;
    border-right: 2px solid #123942;
}
.socialIcons{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1%;
    margin-top: 50px; 
    margin-right: 20px;
}
.socialIcons a{
    margin-right: 10px;
    background-color: #e3e3e3;
    padding: 5px;
    color: rgb(92, 92, 92);
    border-radius: 10px;
    
}
.socialIcons a:hover{
    background-color: #123942;
    color: white;
    }
.socialIcons li{
    display: inline;
}



  /* About heading */
  .aboutHeading {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 60px;
    margin-bottom: 50px;
}
.aboutHeading span {
    background-color: #123942;
    margin: 50px 20px 0px -21px;
    padding: 10px 20px 10px 30px;
    font-size: 24px;
    color: #fff;
}
.educationExperience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.educationExperience > div {
    padding: 10px;
}
.duration {
    display: grid;
    grid-template-columns: 1fr;
}
.duration span {
    background-color: #0e93b1;
    margin: 50px 20px 0px -10px;
    padding: 10px 20px 10px 20px;
    color: #fff;
}
.technicalSkills li {
    width: 100%;
    height: 9px;
    list-style: none;
    padding: .5px;
    border: 1px solid rgba(0, 0, 0, .3); 
    border-radius: 3px;
}

.technicalSkills h5 { 
    background-color: #123942;
    height: 5px;
    border-radius: 3px;
}
.javascript {
    width: 90%;
}
.python {
    width: 80%;
}
.typescript {
    width: 65%;
}
.angular {
    width: 70%;
}
.node {
    width: 70%;
}
.react {
    width: 50%;
}
.django {
    width: 80%;
}
.flask {
    width: 70%;
}
.webdesign {
    width: 90%;
}


.tutor {
    background-color: white;
    border: 1px solid #123942;
    color: #123942;
}
.book {
    margin-bottom: 100px;
}
.tutor:hover {
    background-color: #123942;
    color: #fff;
}
.ui-widget {
    display: inline-block;
    width: 10rem;
    height: 10rem;
    margin: 1.5 rem;
    border: 1.2rem solid #2e7180;
    text-align: center;
    border-radius: 9rem;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, .3);
    border-bottom-color: #ffff;
    border-top-color: #ffff;
    border-right-color: #ffff;
    box-sizing: border-box;
}
.ui-widget:nth-child(2), .ui-widget:last-child {
    border-left-color: #2e7180;
    border-top-color: #195d6d;
    border-right-color: #123942;
    border-bottom-color: #ffff;
}
.ui-widget:nth-child(3) {
    border-left-color: #2e7180;
    border-top-color: #195d6d;
    border-right-color: #fff;
    border-bottom-color: #ffff;
}

.ui-widget .ui-value {
    /* position: absolute; */
    left: 0;
    right: 0;
    /* top: 0px; */
    font-size: 2.3rem;
    font-family: 'Times New Roman', Times, serif;
}
.ui-widget .ui-label {
    /* position: absolute; */
    left: 0;
    /* bottom: -16px; */
    font-size: 9px;
    text-transform: uppercase;
    color: #888;
    width: 100%;
}


/* Media Queries */

@media screen and (max-width: 1120px) {
    .socialIcons a {
        margin-right: 3px;
    }
    
  }

@media screen and (max-width: 990px) {
    nav {
        display: grid;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        z-index: 99;
        
    }
    
    aside {
        display: none;
        overflow: hidden;
    }
    .navbar-header {
        margin-right: 10px;
    }
    .navbar-brand {
        font-size: 17px;
    }
    .humbeger {
        position: absolute;
        right: 10px;
    }
    .wrapper {
        grid-column-gap:0px;
        display: grid;
        grid-template-columns: 0% 100%;
        
    }
    .bodyArea {
        position: absolute;
        width: 100%;
    }
  }

  /* Skills */
  .skills {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1em;
  }

  @media screen and (max-width: 575px){
    .aboutBody, .skills {
        grid-template-columns:100%;
    }
    .educationExperience {
        grid-template-columns: 1fr;
    }
  }